/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
  Created on : Jun 3, 2014, 8:20:48 PM
  Author     : Alpesh
*/

* {
  margin: 0;
  padding: 0;
}

#addNodeButton {
  position: absolute;
  left: 45%;
  top: 10px;
}

.element_class{
  border: 8px solid #CFCFCF;
  float: left;
  height: 15px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.plus-image-class {
  background: url("../assets/plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 19px;
  left: -5px;
  position: relative;
  top: 15px;
  width: 20px;
}

.minus-image-class {
  background: url("../assets/minus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 19px;
  left: -5px;
  position: relative;
  top: 15px;
  width: 20px;
}
